Assignment

mongodb is a type of database that is used to store data in form collection that is a collection of documents not a sturutured database.Non relational database means that data is not stored in tables it is stored in an unstructured way like json .When you want to store complex data.

Feature of mongodb
cross platform
open source 
used to store complex data
High Performance
schema less design

In [3]:
import pymongo
client=pymongo.MongoClient("mongodb+srv://shambhavichaukiyal_db_user:ZR3nXJkVzjzlJyd6@cluster0.yrrzjcv.mongodb.net/?appName=Cluster0")
db=client["shambhavi"]
coll_create=db["class"]
data={"name":"priya","age":20}
coll_create.insert_one(data)

InsertOneResult(ObjectId('6967f86e1a67a1ece096e115'), acknowledged=True)

In [ ]:
data = [
    {
        "name": "Shambhavi",
        "course": "Data Science",
        "age": 22
    },
    {
        "name": "Aditi",
        "course": "AI",
        "age": 23
    },
    {
        "name": "Riya",
        "course": "ML",
        "age": 21
    },
    {
        "name": "Neha",
        "course": "Analytics",
        "age": 24
    }
]
coll_create.insert_many(data)

InsertManyResult([ObjectId('6967f89f1a67a1ece096e116'), ObjectId('6967f89f1a67a1ece096e117'), ObjectId('6967f89f1a67a1ece096e118'), ObjectId('6967f89f1a67a1ece096e119')], acknowledged=True)

In [5]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6967f86e1a67a1ece096e115'), 'name': 'priya', 'age': 20}
{'_id': ObjectId('6967f89f1a67a1ece096e116'), 'name': 'Shambhavi', 'course': 'Data Science', 'age': 22}
{'_id': ObjectId('6967f89f1a67a1ece096e117'), 'name': 'Aditi', 'course': 'AI', 'age': 23}
{'_id': ObjectId('6967f89f1a67a1ece096e118'), 'name': 'Riya', 'course': 'ML', 'age': 21}
{'_id': ObjectId('6967f89f1a67a1ece096e119'), 'name': 'Neha', 'course': 'Analytics', 'age': 24}

In [8]:
print(coll_create.find_one())

{'_id': ObjectId('6967f86e1a67a1ece096e115'), 'name': 'priya', 'age': 20}

we can use find() function to find by mentioning the key and value pair we want to find inside the find().

In [9]:

print(coll_create.find_one({"name":"Neha"}))

{'_id': ObjectId('6967f89f1a67a1ece096e119'), 'name': 'Neha', 'course': 'Analytics', 'age': 24}

In [14]:
db.coll_create.find().sort({"age":-1})

delete_one() removes a single matching document.

delete_many() removes multiple matching documents.

drop() deletes the entire collection or database completely.