In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df.iloc[1:2]

        course_name  duration
1  Machine Learning         3

iloc is used to not include end index while loc incude end index
iloc is integer based while loc is label based

In [10]:
new_df=df.reindex([3,0,1,2])
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [8]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [9]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

This is due to the fact that loc takes label value while iloc takes integer based index.

In [11]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [12]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.167306  0.397433  0.418122  0.279003  0.385385  0.077397
2  0.052815  0.710389  0.698679  0.829792  0.061107  0.346485
3  0.772061  0.059800  0.510591  0.750235  0.317747  0.386285
4  0.103633  0.919335  0.805603  0.154751  0.003561  0.292226
5  0.436337  0.947995  0.500137  0.692043  0.571769  0.051876
6  0.792025  0.811572  0.945144  0.627184  0.200604  0.759978

In [14]:
print("Mean of column_1:", df1['column_1'].mean())
print("Mean of column_2:", df1['column_2'].mean())
print("Mean of column_3:", df1['column_3'].mean())
print("Mean of column_4:", df1['column_4'].mean())
print("Mean of column_5:", df1['column_5'].mean())
print("Mean of column_6:", df1['column_6'].mean())

Mean of column_1: 0.38736285750910165
Mean of column_2: 0.6410872880616117
Mean of column_3: 0.6463791863553605
Mean of column_4: 0.5555013889175425
Mean of column_5: 0.25669572708577654
Mean of column_6: 0.31904106570069746

In [15]:
df1['column_2'].std()

np.float64(0.34720116192932254)

In [19]:
df1.loc[2, 'column_2'] = "abc"

C:\Users\91897\AppData\Local\Temp\ipykernel_20756\4249921059.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'abc' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2, 'column_2'] = "abc"

In [20]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

he mean() function works only on numeric data

In pandas, window functions are used to perform calculations over a sliding or expanding range of data instead of the entire dataset at once.
Rolling	    Fixed-size moving window
Expanding	Grows from first row
Exponential	Weighted toward recent data

In [21]:
date=pd.date_range(start='2025-01-01',end='2025-02-02')

In [24]:
df_date=pd.DataFrame({"date":date})

In [25]:
df_date['year']=df_date['date'].dt.year

In [26]:
df_date

         date  year
0  2025-01-01  2025
1  2025-01-02  2025
2  2025-01-03  2025
3  2025-01-04  2025
4  2025-01-05  2025
5  2025-01-06  2025
6  2025-01-07  2025
7  2025-01-08  2025
8  2025-01-09  2025
9  2025-01-10  2025
10 2025-01-11  2025
11 2025-01-12  2025
12 2025-01-13  2025
13 2025-01-14  2025
14 2025-01-15  2025
15 2025-01-16  2025
16 2025-01-17  2025
17 2025-01-18  2025
18 2025-01-19  2025
19 2025-01-20  2025
20 2025-01-21  2025
21 2025-01-22  2025
22 2025-01-23  2025
23 2025-01-24  2025
24 2025-01-25  2025
25 2025-01-26  2025
26 2025-01-27  2025
27 2025-01-28  2025
28 2025-01-29  2025
29 2025-01-30  2025
30 2025-01-31  2025
31 2025-02-01  2025
32 2025-02-02  2025

In [27]:
df_date['month']=df_date['date'].dt.month

In [28]:
df_date

         date  year  month
0  2025-01-01  2025      1
1  2025-01-02  2025      1
2  2025-01-03  2025      1
3  2025-01-04  2025      1
4  2025-01-05  2025      1
5  2025-01-06  2025      1
6  2025-01-07  2025      1
7  2025-01-08  2025      1
8  2025-01-09  2025      1
9  2025-01-10  2025      1
10 2025-01-11  2025      1
11 2025-01-12  2025      1
12 2025-01-13  2025      1
13 2025-01-14  2025      1
14 2025-01-15  2025      1
15 2025-01-16  2025      1
16 2025-01-17  2025      1
17 2025-01-18  2025      1
18 2025-01-19  2025      1
19 2025-01-20  2025      1
20 2025-01-21  2025      1
21 2025-01-22  2025      1
22 2025-01-23  2025      1
23 2025-01-24  2025      1
24 2025-01-25  2025      1
25 2025-01-26  2025      1
26 2025-01-27  2025      1
27 2025-01-28  2025      1
28 2025-01-29  2025      1
29 2025-01-30  2025      1
30 2025-01-31  2025      1
31 2025-02-01  2025      2
32 2025-02-02  2025      2

In [29]:
import pandas as pd

# Take input from user
date1 = input("Enter first date (YYYY-MM-DD): ")
date2 = input("Enter second date (YYYY-MM-DD): ")

# Convert input strings to pandas Timestamp
d1 = pd.Timestamp(date1)
d2 = pd.Timestamp(date2)

# Calculate time difference
diff = d2 - d1

# Display the result
print("Difference in days:", diff.days)
print("Difference in hours:", diff.total_seconds() / 3600)
print("Difference in minutes:", diff.total_seconds() / 60)

Difference in days: -95
Difference in hours: -2280.0
Difference in minutes: -136800.0

In [ ]:
import pandas as pd

# Take inputs from user
file_path = input("Enter CSV file path: ")
column_name = input("Enter column name to convert to categorical: ")

# Take category order as comma-separated values
category_order = input(
    "Enter category order (comma-separated, e.g. low,medium,high): "
).split(",")

# Read CSV file
df = pd.read_csv(file_path)

# Convert column to categorical with specified order
df[column_name] = pd.Categorical(
    df[column_name],
    categories=category_order,
    ordered=True
)

# Sort data based on categorical column
df_sorted = df.sort_values(by=column_name)

# Display sorted data
print("\nSorted Data:")
print(df_sorted)

In [31]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.10.8-cp313-cp313-win_amd64.whl.metadata (52 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.3-cp313-cp313-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.61.1-cp313-cp313-win_amd64.whl.metadata (116 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.9-cp313-cp313-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\91897\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.3.0)
Requirement already satisfied: packaging>=20.0 in c:\users\91897\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\91897\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=3 in c:\users\91897\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\91897\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\91897\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.8-cp313-cp313-win_amd64.whl (8.1 MB)
   ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
   --- ------------------------------------ 0.8/8.1 MB 6.4 MB/s eta 0:00:02
   ------- -------------------------------- 1.6/8.1 MB 4.4 MB/s eta 0:00:02
   ------------ --------------------------- 2.6/8.1 MB 4.5 MB/s eta 0:00:02
   ------------------ --------------------- 3.7/8.1 MB 4.7 MB/s eta 0:00:01
   ----------------------- ---------------- 4.7/8.1 MB 4.7 MB/s eta 0:00:01
   ---------------------------- ----------- 5.8/8.1 MB 4.6 MB/s eta 0:00:01
   ------------------------------ --------- 6.3/8.1 MB 4.4 MB/s eta 0:00:01
   ------------------------------------ --- 7.3/8.1 MB 4.5 MB/s eta 0:00:01
   -------------------------------------- - 7.9/8.1 MB 4.3 MB/s eta 0:00:01
   ---------------------------------------- 8.1/8.1 MB 4.1 MB/s eta 0:00:00
Downloading contourpy-1.3.3-cp313-cp313-win_amd64.whl (226 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.61.1-cp313-cp313-win_amd64.whl (2.3 MB)
   ---------------------------------------- 0.0/2.3 MB ? eta -:--:--
   ------------- -------------------------- 0.8/2.3 MB 5.7 MB/s eta 0:00:01
   ---------------------- ----------------- 1.3/2.3 MB 4.3 MB/s eta 0:00:01
   ---------------------------------------- 2.3/2.3 MB 3.7 MB/s eta 0:00:00
Downloading kiwisolver-1.4.9-cp313-cp313-win_amd64.whl (73 kB)
Installing collected packages: kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.61.1 kiwisolver-1.4.9 matplotlib-3.10.8

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Take CSV file path from user
file_path = input("Enter the CSV file path: ")

# Read CSV file
df = pd.read_csv(file_path)

# Set Date column as index
df.set_index('Date', inplace=True)

# Plot stacked bar chart
df.plot(kind='bar', stacked=True)

# Add labels and title
plt.xlabel("Time Period")
plt.ylabel("Sales")
plt.title("Sales of Product Categories Over Time")

# Display the chart
plt.show()

In [ ]:
import pandas as pd

# Take CSV file path from user
file_path = input("Enter the CSV file path: ")

# Read the CSV file
df = pd.read_csv(file_path)

# Calculate statistics
mean_score = df['Test_Score'].mean()
median_score = df['Test_Score'].median()
mode_score = df['Test_Score'].mode()[0]

# Create a result table
result = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Test_Score': [mean_score, median_score, mode_score]
})

# Display the result table
print("\nStatistical Summary of Test Scores:")
print(result)