In [1]:
import pandas as pd
#4, 8, 15, 16, 23, 42.
data=[4,8,15,16,23,42]
pd.Series(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
data=[1,2,3,4,5,6,7,8,9,10]
pd.Series(data)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
pd.DataFrame(data)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [5]:
# Dataframe in python is a multidimenional tabular data of rows and column in python while Series is a single column.
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df=pd.DataFrame(data)
s=df['Name']

In [6]:
type(s)

pandas.core.series.Series

In [7]:
type(df)

pandas.core.frame.DataFrame

We can use head() tail() info() describe() etc.head()-when i just need few rows from start ,tail()-when i need few rows from end.

All are mutable.

In [8]:
import pandas as pd

# Create Series
name = pd.Series(['Alice', 'Bob', 'Claire'])
age = pd.Series([25, 30, 27])
gender = pd.Series(['Female', 'Male', 'Female'])

# Create DataFrame from multiple Series
df = pd.DataFrame({
    'Name': name,
    'Age': age,
    'Gender': gender
})

# Print DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female