Assignment

Database can be defined as the collection of tables.
No Sql-not structered The data stored in no sql is not store in a particular form.It is used to store complex data.
sql-data stored in a structered pattern.Easy to retrieve data

Data definition language that changes the shape of the database object such as tables.
create is used to create table database etc.
 create database
create table(
    name varchar(40),
    age int
)
drop  -used to delete whole table
drop table tablename

alter-used to modify the table

ALTER TABLE tablename
RENAME COLUMN name TO new_name;


truncate -delete the data but keeps the structure.
truncate table tablename

Data Manipulation Language.
It is used to manipulate the data.
insert-add into the table
INSERT INTO Student (id, name, age)
VALUES (1, 'Shambhavi', 22);

UPDATE
Purpose: Used to modify existing records in a table.
UPDATE Student
SET age = 23
WHERE id = 1;

DELETE
Purpose: Used to remove records from a table.
DELETE FROM Student
WHERE id = 1;

Data query language -it is used to retrieve data from the database.
Select is used to select some specific data from the database.
select * from tablename;

Primary key is a unique and not null in the table while foreign key is used to connect 2 table togther it is a primary key on other table.

CREATE TABLE Student (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT
);


CREATE TABLE Marks (
    student_id INT,
    subject VARCHAR(30),
    marks INT,
    FOREIGN KEY (student_id) REFERENCES Student(id)
);

cursor() method

The cursor() method creates a cursor object

A cursor acts as an interface between Python and MySQL

execute() method

The execute() method is used to run SQL queries such as
SELECT, INSERT, UPDATE, DELETE, CREATE, etc.

It sends the SQL command from Python to the MySQL database

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(
    user="abc"
    host="localhost"
    password="password"
)
mycursor=mydb.cursor()
mycursor.execute("wrire command")
for i in mycursor.fetchall():
    print(i)

FROM → WHERE → GROUP BY → HAVING → SELECT → ORDER BY → LIMIT